{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-8 offset-md-2">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h4>Senha alterada</h4>
                    <hr>
                    <div class="alert alert-info">
                        Sua senha foi alterada, entre no sistema com a senha nova!
                    </div>
                    <a href="{% url 'users-login' %}">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}